.Experience {
   width: 100%;
  margin: auto;
  padding-bottom: 200px;
  background-color: rgb(249, 228, 255);
}

.expiriene-title{
  display: grid;
  place-items: center;
}

.expiriene-title h2 {
  font-size: 40px;
  letter-spacing: 3px;
  color: rgb(65, 63, 63);
  padding-top: 10px;
  padding-bottom: 100px;
  font-weight: bold;

}

.expiriene-title h4{
  font-size: 20px;
  letter-spacing: 2px;
  color: rgb(222, 6, 241);
  padding-top: 100px;
  
}

.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: #563f5e;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* LEAVE TILL LAST */
.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: #797979;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: rgb(222, 6, 241);
  border-radius: 50%;
}

/* LEAVE TILL LAST */
.timeline__point--bottom {
  top: initial;
  bottom: 0;
}

.timeline__date--right {
  text-align: right;
}



.timeline__title {
  *font-size: 1.15em;
  font-weight: bold;
  color: rgb(61, 58, 61);
}

.timeline__paragraph {
  line-height: 1.5;
}

















.container {
  width: 1000px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

}

.container .card {
  width: 300px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;

}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
}

.card img {
  width: 300px;
  height: 280px;
}

.card h4 {
  padding-top: 10px;
}

.card p {
  padding: 0 1rem;
  font-size: 16px;
}