*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  background-color: rgba(195, 247, 10, 0.493);
}



.App-cnt {
  min-height: 100px; 
}


header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
}

